{% extends "base.html" %}

{% block title %}Subscribe to news about issued certificates for a domain - CT observatory{% endblock %}

{% block content %}
    <div class="row">
        <div class=" col-md-6 col-xs-12">
            <form action="/notification/subscribe" method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        Register for email-notificiation when new certificates are found
                    </div>
                    <div class="card-block">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-2 col-form-label">Email address</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" value="" id="email" name="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-2 col-form-label">URL</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" value="{{ dnsname }}" name="dnsname"
                                       id="dnsname">
                            </div>

                        </div>
                        <button class="btn btn-primary btn-block ">subscribe</button>
                        <input type="hidden" id="notifyfor" name="notifyfor" value="0" checked="checked">
                    </div>
                </div>
            </form>
        </div>
        <div class=" col-md-6 col-xs-12">
            <form action="/notification/unsubscribe" method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        Cancel notifcations for new certificates
                    </div>
                    <div class="card-block">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-2 col-form-label">Email address</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" value="" id="email" name="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-2 col-form-label">URL</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" value="{{ dnsname }}" name="dnsname"
                                       id="dnsname">
                            </div>

                        </div>
                        <button class="btn btn-primary btn-block ">unsubscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
