{% extends "base.html" %}

{% block title %}Subscribe to news about issued certificates for a domain - CT observatory{% endblock %}

{% block content %}
    <div class="row">
        <div class=" col-md-6 col-xs-12">
            <form action="/notification/subscribe" method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        Register for email-notificiation when new certificates are found
                    </div>
                    <div class="card-block">
                    {{ subscribeform.non_field_errors }}
                    {{ subscribeform.email.errors }}
                       <div class="form-group row">
                            <label for="{{subscribeform.email.id_for_label}}" class="col-xs-3 col-form-label">{{subscribeform.email.label}}</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="email" value="{% if subscribeform.email.value %}{{subscribeform.email.value}}{% endif %}" id="{{subscribeform.email.id_for_label}}" name="{{subscribeform.email.html_name}}" placeholder="you@example.com">
                            </div>
                        </div>
                        
                    {{ subscribeform.name.errors }}
                        <div class="form-group row">
                            <label for="{{subscribeform.name.id_for_label}}" class="col-xs-3 col-form-label">{{subscribeform.name.label}}</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="text" value="{% if subscribeform.name.value %}{{subscribeform.name.value}}{% endif %}" name="{{subscribeform.name.html_name}}"
                                       id="{{subscribeform.name.id_for_label}}" placeholder="www.example.com">
                            </div>

                        </div>
                        
                        <button class="btn btn-primary btn-block ">subscribe</button>
                        <input type="hidden" id="notifyfor" name="notifyfor" value="0" checked="checked">
                    </div>
                </div>
            </form>
        </div>
        <div class=" col-md-6 col-xs-12">
            <form action="/notification/unsubscribe" method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        Cancel notifcations for new certificates
                    </div>
                    <div class="card-block">
                    {{ unsubscribeform.non_field_errors }}
                    {{ unsubscribeform.email.errors }}
                       <div class="form-group row">
                            <label for="{{unsubscribeform.email.id_for_label}}" class="col-xs-3 col-form-label">{{unsubscribeform.email.label}}</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="email" value="{% if unsubscribeform.email.value %}{{unsubscribeform.email.value}}{% endif %}" id="{{unsubscribeform.email.id_for_label}}" name="{{unsubscribeform.email.html_name}}" placeholder="you@example.com">
                            </div>
                        </div>
                        
                    {{ unsubscribeform.name.errors }}
                        <div class="form-group row">
                            <label for="{{unsubscribeform.name.id_for_label}}" class="col-xs-3 col-form-label">{{unsubscribeform.name.label}}</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="text" value="{% if unsubscribeform.name.value %}{{unsubscribeform.name.value}}{% endif %}" name="{{unsubscribeform.name.html_name}}"
                                       id="{{unsubscribeform.name.id_for_label}}" placeholder="www.example.com">
                            </div>

                        </div>
                        <button class="btn btn-primary btn-block ">unsubscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
