{% extends "base.html" %}

{% block title %}Details for certificate authority {{ca.name}}{% endblock %}
{% block style %}

.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
  vector-effect: non-scaling-stroke;
}

.diagram{height: 350px;}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 3px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.current {
  fill: #fcc;
}

text {
  font: 10px sans-serif;
  cursor:pointer;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

{% endblock %}

{% block content %}

  <p><a href="{% url 'observer:caall' %}">« back to CA list</a></p>

  <div class="card">
    <div class="card-header"><h4><img src="{% url 'observer:flag' flag_id=ca.country_name.lower %}" title="{{ca.get_name_C}}"/> {{ca.common_name}}</h4></div>
    <div class="card-block">
        <dl>
            <dt>Locality</dt>
            <dd>{{ca.locality_name}}</dd>
            <dt>Organization</dt>
            <dd>{{ca.organization_name}}</dd>
            <dt>OrganizationalUnit</dt>
            <dd>{{ca.organizational_unit_name}}</dd>
            <dt>StateOrProvinceName</dt>
            <dd>{{ca.state_or_province_name}}</dd>
            <dt>emailAddress</dt>
            <dd>{{ca.email_address}}</dd>
        </dl>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">This CA has issued <a href="{% url 'observer:certs_by_ca' ca_id=ca.id %}">{{ca.certificate_set.count}} certificates</a> in TODO logs.</li>
    </ul>
    <div id="treeview" class="card-block">
     <h4 class="card-title">Certificate chain</h4>
    </div>
    <div id="signaturealgorithmdiagram" class="card-block diagram">
     <h4 class="card-title">Most frequent signature algorithms</h4>
     <span class="spinner"><i class="fa fa-refresh fa-spin"></i> loading diagram data from server...</span>
    <svg></svg>
    </div>
    <div id="keysizediagram" class="card-block diagram">
     <h4 class="card-title">Most frequent key sizes</h4>
     <span class="spinner"><i class="fa fa-refresh fa-spin"></i> loading diagram data from server...</span>
    <svg></svg>
    </div>
  </div>

    
{% endblock %}

{% block scripts %}

var panelwidth = $('#treeview').width(),
    m = [20, 120, 20, 250],
    w = panelwidth - m[1] - m[3],
    h = 800 - m[0] - m[2],
    i = 0,
    root;



$(function(){
    d3.json("/api/ca/{{ca.id}}", function(graphdata) {
        var nodes = {};

        // Compute the distinct nodes from the links.
        graphdata.edges.forEach(function(link) {
        link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
        link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
        });

        var width = 960,
            height = 500;

        var force = d3.layout.force()
            .nodes(d3.values(nodes))
            .links(graphdata["edges"])
            .size([width, height])
            .linkDistance(200)
            .friction(0.3)
            .charge(-300)
            .on("tick", tick)
            .start();
            
        var drag = force.drag()
            .on("dragstart", dragstart);

        var svg = d3.select("#treeview").append("svg")
            .attr("width", panelwidth)
            .attr("height", height);

        svg.append("defs").append("marker")
            .attr("id", "arrow")
            .attr("viewBox", "0 -5 10 10")
            .attr("refX", 15)
            .attr("refY", -1.5)
            .attr("markerWidth", 8)
            .attr("markerHeight", 8)
            .attr("orient", "auto")
        .append("path")
            .attr("d", "M0,-5L10,0L0,5");

        var path = svg.append("g").selectAll("path")
            .data(force.links())
        .enter().append("path")
            .attr("class", function(d) { return "link"; })
            .attr("marker-end", function(d) { return "url(#arrow)"; });

        var circle = svg.append("g").selectAll("circle")
            .data(force.nodes())
        .enter().append("circle")
            .attr("r", 15)
            .attr("class", function(d){
                console.log(d);
                if(graphdata["names"][d.name]["current"]){
                    return "current";
                }else{
                    return "";
                }
            })
            .call(force.drag);

        var text = svg.append("g").selectAll("text")
            .data(force.nodes())
        .enter().append("text")
            .attr("x", 18)
            .attr("y", ".31em")
            .text(function(d) { return graphdata["names"][d.name]["name"]; })
            .on("click", function(d){
                window.location.href = "../"+d.name;
            });

        // Use elliptical arc path segments to doubly-encode directionality.
        function tick() {
            path.attr("d", linkArc);
            circle.attr("transform", transform);
            text.attr("transform", transform);
        }

        function linkArc(d) {
        var dx = d.target.x - d.source.x,
            dy = d.target.y - d.source.y,
            dr = Math.sqrt(dx * dx + dy * dy);
        return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
        }

        function transform(d) {
            return "translate(" + d.x + "," + d.y + ")";
        }
        
        function dragstart(d) {
            d3.select(this).classed("fixed", d.fixed = true);
        }
    });
    
    d3.json('/api/getsignaturealgorithmdistribution/{{ca.id}}', function(data) {
        d3.select('#signaturealgorithmdiagram .spinner').remove();
        var format = d3.time.format('%Y-%m');
        nv.addGraph(function() {
            chart = nv.models.stackedAreaWithFocusChart()
            .useInteractiveGuideline(true)
            .x(function(d) { return format.parse(d[0]); })
            .y(function(d) { return d[1] })
            //.controlLabels({stacked: "Stacked"})
            .duration(300)
            .margin({"left":50});
            
            chart.xAxis.tickFormat(function(d) { return d3.time.format('%Y-%m')(new Date(d)) });
            chart.x2Axis.tickFormat(function(d) { return d3.time.format('%Y-%m')(new Date(d)) });
            chart.yAxis.tickFormat(d3.format('0,'));
            d3.select('#signaturealgorithmdiagram svg')
            .datum(data.data)
            .transition().duration(1000)
            .call(chart)
            .each('start', function() {
                setTimeout(function() {
                    d3.selectAll('#signaturealgorithmdiagram svg *').each(function() {
                        if(this.__transition__)
                            this.__transition__.duration = 1;
                    })
                }, 0)
            });
            nv.utils.windowResize(chart.update);
            return chart;
        });
    });
    
    d3.json('/api/getactivekeysizedistribution/{{ca.id}}', function(data) {
        d3.select('#keysizediagram .spinner').remove();
        nv.addGraph(function() {
            var chart = nv.models.multiBarHorizontalChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .margin({top: 20, right: 40, bottom: 20, left: 20})
                .showValues(true)
                .showLegend(true)
                .showXAxis(false)
                .stacked(true)

            chart.yAxis
                .tickFormat(d3.format('d'));

            chart.valueFormat(d3.format('d'));

            d3.select('#keysizediagram svg')
                .datum(data.data)
                .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        });
    });
    
});


{% endblock %}