{% extends "base.html" %}

{% block title %}Details for certificate authority {{ca.name}}{% endblock %}
{% block style %}

.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
  vector-effect: non-scaling-stroke;
}

.diagram{height: 350px;}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 3px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.current {
  fill: #fcc;
}

text {
  font: 10px sans-serif;
  cursor:pointer;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

{% endblock %}

{% block content %}

  <p><a href="{% url 'observer:caall' %}">« back to CA list</a></p>

  <div class="card">
    <div class="card-header"><h4><img src="{% url 'observer:flag' flag_id=ca.country_name.lower %}" title="{{ca.get_name_C}}"/> {{ca.common_name}}</h4></div>
    <div class="card-block">
        <dl>
            <dt>Locality</dt>
            <dd>{{ca.locality_name}}</dd>
            <dt>Organization</dt>
            <dd>{{ca.organization_name}}</dd>
            <dt>OrganizationalUnit</dt>
            <dd>{{ca.organizational_unit_name}}</dd>
            <dt>StateOrProvinceName</dt>
            <dd>{{ca.state_or_province_name}}</dd>
            <dt>emailAddress</dt>
            <dd>{{ca.email_address}}</dd>
            <dt>publicKey</dt>
            <dd class="wordwrap">{{ca.public_key_hex}}</dd>
        </dl>
    </div>
    
        <ul class="list-group list-group-flush">
            <li class="list-group-item">This CA has issued <a href="{% url 'observer:certs_by_ca' ca_id=ca.id %}"><span id="child_certificate_count"><i><i class="fa fa-refresh fa-spin"></i> counting…</i></span> certificates</a> in TODO logs.</li>
        </ul>
    
    <div class="card-block">
        <h4 class="card-title">Certificate chain</h4>
        <p>This diagram visualizes the trust relationships between the current certificate and the CAs to which a path exists.<br>
           A link from A to B signifies one or more existing certificates, issued by A, signing the public key of B.</p>
            
        <div id="treeview"></div>
    
        <p class="card-block">The current certificate is colored red.<br>
           Drag a CA or certificate in order to fix its position. Click on the name of a CA to open the CA details page.</p>
    </div>
    
    <div id="signaturealgorithmdiagram" class="card-block diagram">
     <h4 class="card-title">Most frequent signature algorithms</h4>
     <span class="spinner"><i class="fa fa-refresh fa-spin"></i> loading diagram data from server...</span>
    <svg></svg>
    </div>
    
    <div id="keysizediagram" class="card-block diagram">
     <h4 class="card-title">Most frequent key sizes</h4>
     <span class="spinner"><i class="fa fa-refresh fa-spin"></i> loading diagram data from server...</span>
    <svg></svg>
    </div>
    
  </div>

    
{% endblock %}

{% block additionalscripts %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/ctobs-ca-chart.js' %}"></script>
{% endblock %}

{% block scripts %}

var panelwidth = $('#treeview').width(),
    m = [20, 120, 20, 250],
    w = panelwidth - m[1] - m[3],
    h = 800 - m[0] - m[2],
    i = 0,
    root;



$(function(){
    d3.json("/api/ca/{{ca.id}}/count", function(data) {
        $("#child_certificate_count").text(data['count']);
    });
    
    d3.json("/api/ca/{{ca.id}}", function(graphdata) {
        draw_ca_graph(graphdata, panelwidth);
    });
    
    d3.json('/api/getsignaturealgorithmdistribution/{{ca.id}}', function(data) {
        d3.select('#signaturealgorithmdiagram .spinner').remove();
        var format = d3.time.format('%Y-%m');
        nv.addGraph(function() {
            chart = nv.models.stackedAreaWithFocusChart()
            .useInteractiveGuideline(true)
            .x(function(d) { return format.parse(d[0]); })
            .y(function(d) { return d[1] })
            //.controlLabels({stacked: "Stacked"})
            .duration(300)
            .margin({"left":50});
            
            chart.xAxis.tickFormat(function(d) { return d3.time.format('%Y-%m')(new Date(d)) });
            chart.x2Axis.tickFormat(function(d) { return d3.time.format('%Y-%m')(new Date(d)) });
            chart.yAxis.tickFormat(d3.format('0,'));
            d3.select('#signaturealgorithmdiagram svg')
            .datum(data.data)
            .transition().duration(1000)
            .call(chart)
            .each('start', function() {
                setTimeout(function() {
                    d3.selectAll('#signaturealgorithmdiagram svg *').each(function() {
                        if(this.__transition__)
                            this.__transition__.duration = 1;
                    })
                }, 0)
            });
            nv.utils.windowResize(chart.update);
            return chart;
        });
    });
    
    d3.json('/api/getactivekeysizedistribution/{{ca.id}}', function(data) {
        d3.select('#keysizediagram .spinner').remove();
        nv.addGraph(function() {
            var chart = nv.models.multiBarHorizontalChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .margin({top: 20, right: 40, bottom: 20, left: 20})
                .showValues(true)
                .showLegend(true)
                .showXAxis(false)
                .stacked(true)

            chart.yAxis
                .tickFormat(d3.format('d'));

            chart.valueFormat(d3.format('d'));

            d3.select('#keysizediagram svg')
                .datum(data.data)
                .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        });
    });
    
});


{% endblock %}