{% extends "base.html" %}

{% block title %}List of all CAs{% endblock %}

{% block style %}
#pagenumber{
    max-width: 100px;
}
{% endblock %}
{% load widget_tweaks %}

{% block content %}
  {% if list_of_ca %}
  
  
  
  
  <br><br><br>
<form method="get" action="">
    <div class="well">
      <h4 style="margin-top: 80">Filter</h4>
      
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          Country name:
          {% render_field filter.form.country class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          Common name includes:
          {% render_field filter.form.common_name class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          Locality name includes:
          {% render_field filter.form.locality_name class="form-control" %}
        </div>
        
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          Organization name includes:
          {% render_field filter.form.org_name class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          Organization unit name includes:
          {% render_field filter.form.org_unit_name class="form-control" %}
        </div>
        
        <div class="form-group col-sm-4 col-md-3">
          State or province name includes:
          {% render_field filter.form.state_province class="form-control" %}
        </div>
       </div>
      <div class="row"> 
       &nbsp;&nbsp;&nbsp;&nbsp; <input type="submit" class="btn btn-primary" value="Filter">
      </div>
    </div>
  </form>
  <br />
  
  
  
  
  
      <table class="table">
        <thead>
            <tr>
                <!--<th>Root CA?</th>-->
                <th>Country</th>
                <th>Com name</th>
                <th>Loc name</th>
                <th>Org name</th>
                <th>Org unit name</th>
                <th>State name</th>
                <!--<th># Certs</th>-->
            </tr>
        </thead>
      <tbody>
      {% for ca in list_of_ca %}
          <tr>
            <!--<td>#TODO</td>-->
            <td><img src="/flag/{{ca.country_name}}" title="{{ca.country_name}}"/></td>
            <td><a href="{% url 'observer:cadetail' ca.id %}">{{ ca.common_name }}</a></td>
            <td>{{ ca.locality_name }}</td>
            <td>{{ ca.organization_name }}</td>
            <td>{{ ca.organizational_unit_name }}</td>
            <td>{{ ca.state_or_province_name }}</td>
            <!--<td>#TODO</td>-->
          </tr>
      {% endfor %}
      </tbody>
      </table>
            
      <nav class="text-center" style="margin-bottom: 0.5em;">
            <div class="form-inline">
            {% if list_of_ca.has_previous %}
            <a href="{% url 'observer:caall' page=list_of_ca.previous_page_number %}" aria-label="Previous" class="btn btn-secondary">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {% else %}
                <span aria-hidden="true" class="btn btn-secondary disabled">&laquo;</span>
            {% endif %}
            
            <button id="callpage" class="btn btn-primary">Goto Page</button>
            <div class="form-group">
            <div class="input-group">
            <input type="number" class="form-control" id="pagenumber" placeholder="Enter page number" value="{{list_of_ca.number}}"/>
            <div class="input-group-addon">of {{list_of_ca.paginator.num_pages }}</div>
            </div>
            </div>
            
            {% if list_of_ca.has_next %}
            <a href="{% url 'observer:caall' page=list_of_ca.next_page_number %}" aria-label="Next" class="btn btn-secondary">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {% else %}
                <span aria-hidden="true" class="btn btn-secondary disabled">&raquo;</span>
            {% endif %}
            </div>
      </nav>
      
  {% else %}
      <p>No ca information available.</p>
  {% endif %}
{% endblock %}

{% block scripts %}

$(function(){
    $('#callpage').click(function(){
        var pagenumber = $('#pagenumber').val();
        window.location.href = "./"+pagenumber;
    });
    
    $('#pagenumber').keypress(function (e) {
        if (e.which == 13) {
            $('#callpage').click();
            return false;    
        }
    });
});

{% endblock %}
