{% extends "base.html" %}

{% block title %}Imprint - CT observatory{% endblock %}

{% block content %}
<h1>Imprint</h1>
The CT Observatory is a project of the Usable Security and Privacy Research Group (USECAP) at University of Bonn, Germany.
This project is part of the BDSec - Big Data Security joint research project, funded by the German Federal Ministry of Education and Research. 

<h2>Contact</h2>
<address>
University of Bonn<br>
Institute of Computer Science 4<br>
Friedrich-Ebert-Allee 144<br>
53113 Bonn<br>
Germany<br>
E-Mail: observatory@cs.uni-bonn.de<br>
</address>
{% endblock %}

