{% extends "base.html" %}

{% block title %}Welcome to our CT Observatory{% endblock %}

{% block content %}

<h1>Welcome to the CT Observatory!</h1>
<br>
<div ng-controller="IndexController">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-block text-center">
                    <h4 class="card-title">{{ total_certs }} Certificate{{ total_certs|pluralize }}</h4>
                </div>
                <div class="card-block" style="height:100px;">
                    <p class="card-text">A total of <a href="{% url 'observer:certall' %}">{{ total_certs }} certificate{{ total_certs|pluralize }}</a> from {{ total_logs }} log{{ total_logs|pluralize }} have been collected and observed by this observatory.</p>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'observer:certactive' %}" class="btn btn-success btn-block"><span class="pull-left text-right obs-info">{{ active_certs }}</span>active</a>
                        <a href="{% url 'observer:certexpired' %}" class="btn btn-secondary active btn-block"><span class="pull-left text-right obs-info">{{ expired_certs }}</span>expired</a>
                        <a href="{% url 'observer:certrevoked' %}" class="btn btn-warning btn-block"><span class="pull-left text-right obs-info">{{ revoked_certs }}</span>revoked</a>
                        <a href="/" class="btn btn-danger btn-block"><span class="pull-left text-right obs-info">{{ misissued_certs }}</span>misissued</a>
                    </li>
                </ul>
                <div class="card-block" id="distributionchart">
                    <h6 class="card-title">Number of occurrences in logs</h6>

                    <p class="card-text">This chart shows the number of occurrences of a certificate in all monitored logs.</p>
                    <svg style="width:300px;height:300px"></svg>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-block text-center">
                    <h4 class="card-title">{{ total_ca }} Certificate Authorities</h4>
                </div>
                <div class="card-block" style="height:100px;">
                    <p class="card-text">A total of <a href="{% url 'observer:caall' %}">{{ total_ca }} CA{{ total_ca|pluralize }}</a> are observed.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'observer:caall' %}" class="btn btn-success btn-block"><span class="pull-left text-right obs-info">{{ behaving_cas }}</span>correctly operating</a>
                        <a href="{% url 'observer:caall' %}" class="btn btn-warning btn-block"><span class="pull-left text-right obs-info">{{ interesting_cas }}</span>show interesting behaviour</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-block text-center">
                    <h4 class="card-title">{{ total_logs }} Log{{ total_logs|pluralize }}</h4>
                </div>
                <div class="card-block" style="height:100px;">
                    <p class="card-text">A total of <a href="{% url 'observer:log' %}">{{ total_logs }} log{{ total_logs|pluralize }}</a> are being observed. The biggest log holds {{ biggest_log }} certificates and the smallest log holds {{ smallest_log }} certificate{{ smallest_log|pluralize }}.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div id="certsinlogdistribution">
                            <svg></svg>
                        </div>
                        <table class="table table-sm">
                            <tr>
                                <td></td>
                                <td><b>Log</b></td>
                                <td><b>Entries</b></td>
                            </tr>
                            {% verbatim %}
                            <tr ng-repeat="log in logs">
                                <td ng-style="{'background-color': log.color}"></td>
                                <td> <a ng-href="/log/{{log.id}}">{{ log.key }}</a></td>
                                <td> {{ log.values[0].value }}</td>
                            </tr>
                            {% endverbatim %}
                        </table>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-block diagram">
                    <h4 class="card-title">Most frequent signature algorithms</h4>
                    <h6 class="card-subtitle text-muted">notBefore, per month</h6>
                    <div id="signaturealgorithmdiagram" style="height: 400px;">
                        <span class="spinner"><i class="fa fa-refresh fa-spin"></i> loading diagram data from server...</span>
                        <svg></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div id="keysizediagram" class="card-block diagram">
                    <h4 class="card-title">Most frequent key sizes</h4>
                    <span class="spinner"><i class="fa fa-refresh fa-spin"></i> loading diagram data from server...</span>
                    <svg></svg>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block scripts %}
$(function(){
d3.json('/static/data/getsignaturealgorithmdistribution', function(data) {
        d3.select('#signaturealgorithmdiagram .spinner').remove();
        var format = d3.time.format('%Y-%m');
        nv.addGraph(function() {
            chart = nv.models.stackedAreaWithFocusChart()
            .useInteractiveGuideline(true)
            .x(function(d) { return format.parse(d[0]); })
            .y(function(d) { return d[1] })
            //.controlLabels({stacked: "Stacked"})
            .duration(300)
            .margin({"left":50});
            
            chart.xAxis.tickFormat(function(d) { return d3.time.format('%Y-%m')(new Date(d)) });
            chart.x2Axis.tickFormat(function(d) { return d3.time.format('%Y-%m')(new Date(d)) });
            chart.yAxis.tickFormat(d3.format('0,'));
            d3.select('#signaturealgorithmdiagram svg')
            .datum(data)
            .transition().duration(1000)
            .call(chart)
            .each('start', function() {
                setTimeout(function() {
                    d3.selectAll('#signaturealgorithmdiagram svg *').each(function() {
                        if(this.__transition__)
                            this.__transition__.duration = 1;
                    })
                }, 0)
            });
            nv.utils.windowResize(chart.update);
            return chart;
        });
    });
    
    d3.json('/static/data/getactivekeysizedistribution', function(data) {
        d3.select('#keysizediagram .spinner').remove();
        nv.addGraph(function() {
            var chart = nv.models.multiBarHorizontalChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .margin({top: 20, right: 40, bottom: 20, left: 20})
                .showValues(true)
                .showLegend(true)
                .showXAxis(false)
                .stacked(true)

            chart.yAxis
                .tickFormat(d3.format('d'));

            chart.valueFormat(d3.format('d'));

            d3.select('#keysizediagram svg')
                .datum(data)
                .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        });
    });
});
{% endblock %}

