{% extends "base.html" %}
{% load humanize %}

{% block title %}Welcome to our CT Observatory{% endblock %}

{% block content %}

    <div>
        <div class="row">
        {% for message in messages %}
            <div class="alert {{message.class}}" role="alert">
             {{message.text|safe}}
            </div>
        {% endfor %}
        </div>
        
        <!-- Top Stats -->
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-header text-md-center">
                        Certificates seen
                    </div>
                    <div class="card-block text-lg-center">
                        <h4 class="card-title">{{ total_certs | intcomma}}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="col-xs-12"><a href="{% url 'observer:certactive' %}"><span
                                class="tag tag-pill tag-success btn-block">{{ active_certs | intcomma}} active</span></a></div>
                        <div class="col-xs-12"><a href="{% url 'observer:certexpired' %}"><span
                                class="tag tag-pill tag-default btn-block">{{ expired_certs | intcomma}} expired</span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-header text-md-center">
                        Certificate Authorities found
                    </div>
                    <div class="card-block text-lg-center">
                        <h4 class="card-title">{{ total_ca | intcomma}}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="col-xs-12"><a href="{% url 'observer:caall' %}"><span
                                class="tag tag-pill tag-success btn-block">Have a look</span></a>
                        </div>
                        <div class="col-xs-12">&nbsp;</div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-header text-md-center">
                        Logs observed
                    </div>
                    <div class="card-block text-lg-center">
                        <h4 class="card-title">{{ total_logs }}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="col-xs-12"><span class="btn-block">Biggest Log: <br/> <a
                                href="{% url 'observer:log' %}">{{ biggest_log_name }}</a> ({{ biggest_log | intcomma }} certificates)</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
	<!-- /Top Stats -->
        
        <!-- Search and Subscribe -->
        <div class="row" style="margin-bottom:20px;">
            <div style="position:absolute;height:259px;width:100%;left:0px;background: lightslategrey;"></div>
            <div class="col-xs-12 col-md-6" style="margin-top:15px;">
                <div class="card">
                    <div class="card-header text-md-center">Search for certificates for your domain or Certificate
                        Authorities
                    </div>
                    <div class="card-block">
                        <form action="{% url 'observer:search' %}" method="GET">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="searchTerm">CN / DNS name</label>
                                <input type="text" class="form-control" id="searchTerm" name="term"
                                       aria-describedby="searchTermHelp" placeholder="www.example.com">
                                <small id="searchTermHelp" class="form-text text-muted">Enter CommonName /
                                    dNSName /
                                    CA-Name (e.g. www.example.com)
                                </small>
                            </div>
                            <button class="btn btn-primary btn-block">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" style="margin-top:15px;">
                <div class="card">
                    <div class="card-header text-md-center">Register for email-notificiation when new Certificates are
                        found
                    </div>
                    <div class="card-block">
                        <form action="/notification/subscribe" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="{{subscribeform.name.id_for_label}}">{{subscribeform.name.label}}</label>
                                        <input type="text" class="form-control" id="{{subscribeform.name.id_for_label}}" name="{{subscribeform.name.html_name}}"
                                               aria-describedby="searchDnsTermHelp" placeholder="www.example.com">
                                        <small id="searchDnsTermHelp" class="form-text text-muted">&nbsp;
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="{{subscribeform.email.id_for_label}}">{{subscribeform.email.label}}</label>
                                        <input type="email" class="form-control" id="{{subscribeform.email.id_for_label}}" name="{{subscribeform.email.html_name}}"
                                               aria-describedby="searchTermHelp" placeholder="you@example.com">
                                        <small id="searchTermHelp" class="form-text text-muted">
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary btn-block">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Search and Subscribe -->
        
        <!-- Charts -->
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="card">
                    <div class="card-header text-md-center">
                        Number of occurrences in logs
                    </div>
                    <div class="card-block" id="distributionchart">
                    <span class="spinner"><i
                            class="fa fa-refresh fa-spin"></i> loading diagram data from server...</span>
                        <svg style="width:300px;height:300px"></svg>
                    </div>
                    <div class="card-footer">
                        This chart shows the number of occurrences of a certificate in all monitored logs.
                    </div>
                </div>
            </div>
            
            <div class="col-md-8 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        Log sizes
                    </div>
                    <div class="card-block" id="certsinlogdistribution">
                        <span class="spinner"><i class="fa fa-refresh fa-spin"></i> loading diagram data from server...</span>
                        <svg></svg>
                        <table class="table table-sm" id="logentries">
                            <tr>
                                <td></td>
                                <td><b>Log</b></td>
                                <td><b>Total Entries</b></td>
                                <td><b>Imported</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">Most frequent key sizes
                    </div>
                    <div id="keysizediagram" class="card-block diagram">
                        <span class="spinner"><i class="fa fa-refresh fa-spin"></i> loading diagram data from server...</span>
                        <svg></svg>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        Most frequent signature algorithms (grouped by notBefore, per month)
                    </div>
                    <div class="card-block diagram">
                        <div id="signaturealgorithmdiagram" style="height: 400px;">
                            <span class="spinner"><i class="fa fa-refresh fa-spin"></i> loading diagram data from server...</span>
                            <svg></svg>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        Most frequent Certificate Authorities
                    </div>
                    <div class="card-block diagram">
                        <div id="cadiagram" style="height: 400px;">
                            <span class="spinner"><i class="fa fa-refresh fa-spin"></i> loading diagram data from server...</span>
                            <svg></svg>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        Number of issued certificates per month, for CAs that issued at least 50,000 certificates in a
                        single month
                    </div>
                </div>
            </div>
        </div>
        <!-- /Charts -->
    </div>

{% endblock %}
{% block additionalscripts %}
    <script type="text/javascript" src="/static/js/ctobs-index-charts.js"></script>
    
{% endblock %}
{% block scripts %}

{% endblock %}

