{% extends "base.html" %}

{% block title %}List of all certificates in {{log.url}}{% endblock %}

{% load widget_tweaks %}

{% block content %}
<br><br>
<p>These are all certificates of the log at {{log.url}}</p>
  
 
 
  
  
  {% if list_of_entries %}
      <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>Common Name</th>
        <th>notBefore</th>
        <th>status</th>
        <th>notAfter</th>
        <th>Issuer CA</th>
        <th>Added to log</th>
      </tr>
      </thead>
      <tbody>
      {% for ctlogentry in list_of_entries %}
          <tr>
            <td><a href="{% url 'observer:certdetail' cert_id=ctlogentry.certificate.id %}">{{ ctlogentry.certificate.subject_common_name }}</a></td>
            <td>{{ ctlogentry.certificate.not_before }}</td>
            <td>{% if ctlogentry.certificate.has_expired %} expired {% else %} <b>active</b> {% endif %}</td>
            <td>{{ ctlogentry.certificate.not_after }}</td>
            <td><a href="{% url 'observer:cadetail' ca_id=ctlogentry.certificate.issuer_ca.id %}">{{ ctlogentry.certificate.issuer_ca.common_name }}</a></td>
            <td>{{ctlogentry.entry_timestamp}}</td>
          </tr>
      {% endfor %}
      </tbody>
      </table>
      
      <nav class="text-center" style="margin-bottom: 0.5em;">
            <div class="form-inline">
            {% if list_of_entries.has_previous %}
            <a href="{% url 'observer:certs_by_log' log_id=log.id page=list_of_entries.previous_page_number %}" aria-label="Previous" class="btn btn-secondary">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {% else %}
                <span aria-hidden="true" class="btn btn-secondary disabled">&laquo;</span>
            {% endif %}
            
            <button id="callpage" class="btn btn-primary">Goto Page</button>
            <div class="form-group">
            <div class="input-group">
            <input type="number" class="form-control" id="pagenumber" placeholder="Enter page number" value="{{list_of_entries.number}}"/>
            <div class="input-group-addon">of {{list_of_entries.paginator.num_pages }}</div>
            </div>
            </div>
            
            {% if list_of_entries.has_next %}
            <a href="{% url 'observer:certs_by_log' log_id=log.id page=list_of_entries.next_page_number %}" aria-label="Next" class="btn btn-secondary">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {% else %}
                <span aria-hidden="true" class="btn btn-secondary disabled">&raquo;</span>
            {% endif %}
            <br>
            </div>
      </nav>
  {% else %}
      <p>No information available.</p>
  {% endif %}
{% endblock %}
{% block scripts %}

$(function(){
    $('#callpage').click(function(){
        var pagenumber = $('#pagenumber').val();
        window.location.href = "./"+pagenumber;
    });
    
    $('#pagenumber').keypress(function (e) {
        if (e.which == 13) {
            $('#callpage').click();
            return false;    
        }
    });
});

{% endblock %}