{% extends "base.html" %}

{% block title %}Search results{% endblock %}

{% block content %}
    <h2>Search results for "{{ term }}"</h2>
    <hr/>
    <h4>CAs</h4>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>C</th>
                <th>CN</th>
                <th>L</th>
                <th>O</th>
                <th>OU</th>
                <th>ST</th>
            </tr>
        </thead>
        <tbody id="ca_results">
        </tbody>
        <tfoot>
        <tr><td colspan="6"><button class="btn btn-block btn-primary" id="button_ca_more">Load more results <span class="spinner" id="load_ca_more_spinner"><i class="fa fa-refresh fa-spin"></i></button></td></tr>
        </tfoot>
        </table>
    <hr/>
    <h4>Certificates (by commonName or dNSName)</h4>
    <ul>
        <li><a href="/cert/dnsname/{{term}}">List all certificates with that exact dnsName</a></li>
        <li><a href="/cert/cn/{{term}}">List all certificates with that exact common name</a>
    </ul>
        <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Common Name</th>
            <th>Issued by</th>
            <th>Not Before</th>
            <th>status</th>
            <th>Not After</th>
        </tr>
        </thead>
        <tbody id="cn_dnsname_results">
        </tbody>
        <tfoot>
        <tr><td colspan="5"><button class="btn btn-block btn-primary" id="button_cn_dnsname_more">Load more results <span class="spinner" id="load_cn_dnsname_more_spinner"><i class="fa fa-refresh fa-spin"></i></button></td></tr>
        </tfoot>
        </table>
        
{% endblock %}

{% block scripts %}
var totaloffset_cn_dnsname = 0;
var totaloffset_ca = 0;

function disableCnDnsnameMoreButton(){
    $('#button_cn_dnsname_more').text("No more results.");
    $('#button_cn_dnsname_more').prop("disabled",true);
    $('#button_cn_dnsname_more').removeClass("btn-primary");
    $('#button_cn_dnsname_more').addClass("btn-default");
}

function disableCaMoreButton(){
    $('#button_ca_more').text("No more results.");
    $('#button_ca_more').prop("disabled",true);
    $('#button_ca_more').removeClass("btn-primary");
    $('#button_ca_more').addClass("btn-default");
}

function cascadeshow(classname){
    $('.'+classname).first().removeClass(classname).show(10, function(){cascadeshow(classname)});
}

function loadResultsCnDnsname(offset){
    $.getJSON("/api/search/cn_dnsname/{{ term }}/"+offset, function(data){
        var items = 0;
        $.each(data.values, function(i, result){
            $("<tr style='display: none;' class='new_tr_cn_dnsname'><td><a href='/cert/"+result.cert_id+"'>"+result.cert_cn+"</a></td><td><a href='/ca/"+result.ca_id+"'>"+result.ca_cn+"</a></td><td>"+result.cert_not_before+"</td><td>"+result.cert_status+"</td><td>"+result.cert_not_after+"</td></tr>").appendTo('#cn_dnsname_results');//.show(1000);
            items++;
        });
        
        cascadeshow('new_tr_cn_dnsname');
        
        totaloffset_cn_dnsname += items;
        if(!data.has_more_data){
            disableCnDnsnameMoreButton();
        }
        $('#load_cn_dnsname_more_spinner').hide();
    });
}

function loadResultsCa(offset){
    $.getJSON("/api/search/ca/{{ term }}/"+offset, function(data){
        var items = 0;
        $.each(data.values, function(i, result){
            $('<tr style="display: none;" class="new_tr_ca"><td><img src="/flag/'+result.c+'" title="'+result.c+'"/></td><td><a href="/ca/'+result.ca_id+'">'+result.cn+'</a></td><td>'+result.l+'</td><td>'+result.o+'</td><td>'+result.ou+'</td><td>'+result.st+'</td>').appendTo('#ca_results');
            
            items++;
        });
        
        cascadeshow('new_tr_ca');
        
        totaloffset_ca += items;
        if(!data.has_more_data){
            disableCaMoreButton();
        }
        $('#load_ca_more_spinner').hide();
    });
}


$(function(){
    $('#button_cn_dnsname_more').prop("disabled",false);
    $('#button_ca_more').prop("disabled",false);
    
    loadResultsCnDnsname(0);
    loadResultsCa(0);
    
    $('#button_cn_dnsname_more').click(function(){
        $('#load_cn_dnsname_more_spinner').show();
        loadResultsCnDnsname(totaloffset_cn_dnsname);
    });
    $('#button_ca_more').click(function(){
        $('#load_ca_more_spinner').show();
        loadResultsCa(totaloffset_ca);
    });
});
{% endblock %}