{% extends "base.html" %}

{% block title %}Search results{% endblock %}

{% block content %}
    <h2>Search results for "{{ term }}"</h2>
    <hr/>
    <h4>CAs</h4>
    {% if found_ca %}
        <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>C</th>
                <th>CN</th>
                <th>L</th>
                <th>O</th>
                <th>OU</th>
                <th>ST</th>
            </tr>
        </thead>
        <tbody>
        {% for ca in found_ca %}
            <tr>
                <td><img src="/static/flags/png/{{ca.get_name_C | lower}}.png" title="{{ca.get_name_C}}"/></td>
                <td><a href="{% url 'observer:cadetail' ca.id %}">{{ ca.get_name_CN }}</a></td>
                <td>{{ ca.get_name_L }}</td>
                <td>{{ ca.get_name_O }}</td>
                <td>{{ ca.get_name_OU }}</td>
                <td>{{ ca.get_name_ST }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>No CAs found</p>
    {% endif %}
    <hr/>
    <h4>Certificates (by commonName or dNSName)</h4>
    <ul>
        <li><a href="/cert/dnsname/{{term}}">List all certificates with that exact common name</a></li>
        <li><a href="/cert/cn/{{term}}">List all certificates with that exact dnsName</a>
    </ul>
        <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Common Name</th>
            <th>Issued by</th>
            <th>Not Before</th>
            <th>status</th>
            <th>Not After</th>
        </tr>
        </thead>
        <tbody id="cn_dnsname_results">
        </tbody>
        <tfoot>
        <tr><td colspan="5"><button class="btn btn-block btn-primary" id="button_more">Load more results <span class="spinner" id="load_more_spinner"><i class="fa fa-refresh fa-spin"></i></button></td></tr>
        </tfoot>
        </table>
        
{% endblock %}

{% block scripts %}
var totaloffset = 0;

function disableMoreButton(){
    $('#button_more').text("No more results.");
    $('#button_more').prop("disabled",true);
    $('#button_more').removeClass("btn-primary");
    $('#button_more').addClass("btn-default");
}

function cascadeshow(){
    $('.new_tr').first().removeClass('new_tr').show(10, function(){cascadeshow()});
}

function loadResults(offset){
    $.getJSON("/api/search/cn_dnsname/{{ term }}/"+offset, function(data){
        var items = 0;
        $.each(data.values, function(i, result){
            $("<tr style='display: none;' class='new_tr'><td><a href='/cert/"+result.cert_id+"'>"+result.cert_cn+"</a></td><td><a href='/ca/"+result.ca_id+"'>"+result.ca_cn+"</a></td><td>"+result.cert_not_before+"</td><td>"+result.cert_status+"</td><td>"+result.cert_not_after+"</td></tr>").appendTo('#cn_dnsname_results');//.show(1000);
            items++;
        });
        
        cascadeshow();
        
        totaloffset += items;
        if(!data.has_more_data){
            disableMoreButton();
        }
        $('#load_more_spinner').hide();
    });
}
$(function(){
    $('#button_more').prop("disabled",false);
    
    loadResults(0);
    
    $('#button_more').click(function(){
        $('#load_more_spinner').show();
        loadResults(totaloffset);
    });
});
{% endblock %}