/* Custom CSS */
.obs-info {
    width: 75px;
}
html, body {
    margin:0;
    padding:0;
    height:100%;
}
#wrapper {
    min-height:100%;
    position:relative;
}
#footer{
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
    background-color: #eee;
    padding: 0.5em 0em 0.5em 0em;
    border-top: 1px solid #ddd;
    text-align: right;
    height: 35px;
}
#content {
    padding-bottom: 35px;   /* Height of the footer element */
}