{% load staticfiles %}
{% load analytical %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" ng-app="observatory">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static "css/observatory.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/nv.d3.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/ng-table.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    
    
    <style type="text/css">{% block style %}{% endblock %}</style>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
            <a class="navbar-brand" href="{% url 'observer:index' %}">CT-Observatory</a>
            <div class="nav navbar-nav">
                  <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle {% if '/cert' in request.path %} active{% endif %}" href="{% url 'observer:certall' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Certificates
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="{% url 'observer:certall' %}">All</a>
                          <a class="dropdown-item" href="{% url 'observer:certactive' %}">Active</a>
                          <a class="dropdown-item" href="{% url 'observer:certexpired' %}">Expired</a>
                          <a class="dropdown-item" href="{% url 'observer:certrevoked' %}">Revoked</a>
                      </div>
                  </div>
                  <a class="nav-link nav-item {% if '/ca/' in request.path %} active {% endif %}" href="/ca/all">CAs</a>
                  <a class="nav-link nav-item {% if 'log' in request.path %} active {% endif %}" href="/log">Logs</a>
                  <a class="nav-link nav-item {% if 'notification' in request.path %} active {% endif %}" href="/notification/change">Subscribe</a>
            </div>
            <form action="{% url 'observer:search' %}" method="GET" class="form-inline navbar-form pull-right">
              <input class="form-control hidden-xs-down" type="text" placeholder="Search" name="term">
              <button class="btn btn-success-outline hidden-xs-down" type="submit">Search</button>
            </form>
            <div class="nav navbar-nav pull-right hidden-md-down" style="margin-right: 1em;">
                <span class="nav-item nav-link hidden-md-down">Search in commonName/dnsName (wildccsxcard: %) or CA names</span>
            </div>
        </nav>

        <div id="content" class="container" style="padding-top:75px;">
            {% block content %}{% endblock %}
        </div>

        <footer id="footer"><div class="container">CT observatory | <a href="/imprint">Imprint</a></div></footer>
    </div>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/d3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/nv.d3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/nvd3-stacked-area-with-focus-chart.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ng-table.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ng-observatory.js" %}"></script>
    <script type="text/javascript" src="{% static "js/gantt-chart-d3v2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.dataTables.js" %}"></script>
    
    
    {% block additionalscripts %}{% endblock %}
    <script type="text/javascript">
    {% block scripts %}{% endblock %}
    </script>
</body>
</html>
